@import url('/variables.css');
@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@100&display=swap');

* {
  font-family: 'Raleway', sans-serif;
}

body {
  min-height: 100vh;
  font-size: 1.5rem;
}

button,
input {
  cursor: pointer;
  font-size: 1rem;
}

input#new-task,
input#filter {
  min-width: 50vw;
}

ul {
  list-style: none;
}

/*Classes*/
.flex {
  display: flex;
}

.main {
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
}

@media (max-width: 480px) {
  form {
    flex-flow: column;
  }
  input#new-task {
    min-width: 75vw;
  }
}
